<div class="nav">{{currentUser?.firstName}}</div>
<div class="job-grid-container">
    <table mat-table [dataSource]="jobDataSource | async" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="jobName">
          <th mat-header-cell *matHeaderCellDef> Job Name </th>
          <td mat-cell *matCellDef="let element"> {{element.jobName}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef>Customer Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Customer?.customerName}} </td>
        </ng-container>
      
        <!-- Expandable Row -->
  <ng-container *ngIf="false" matColumnDef="invoices">
    <td mat-cell *matCellDef="let element">
      <tr *ngIf="expandedElement === element">
        <td [attr.colspan]="displayedJobColumns.length">
          <mat-card>
            <!-- Content for expanded row -->
            <p>Invoices: {{element.invoices.length}}</p>
            <!-- Add more details here -->
          </mat-card>
        </td>
      </tr>
    </td>
  </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedJobColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedJobColumns;"></tr>
      </table>
      
      
</div>